video{
  object-fit: cover;
}
body{
  background: #ECECF0 !important;
  min-height: 100vh;
}
#root{
  height: 100%;
}
::-webkit-scrollbar{
  width: 8px;
  background: #000000;
}
::-webkit-scrollbar-thumb{
  background: #ffffff;
}
.toast {
  font-family: inherit !important;
}
.toast-success {
  color: #fff !important;
  background: #000 !important;
}
.toast-error {
  color: #fff !important;
  background: #6c757d  !important;
}